<header>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-md-10">
					<a class="headicon" href="http://xyzurl.com"><h1>Xyzurl</h1></a>
				</div>
				<div class="col-xs-2 col-md-2 social-btn">
					<div class="fb-share">
						<div class="fb-share-button" data-href="http://xyzurl.com" data-layout="button" data-mobile-iframe="true">
						
						</div>
					</div>
				</div>
			</div>
			<div class="headline">
			create shortest url
			</div>
		</div>
	</div>
</header>